.messageItemWrap {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  .messageItemContent {
    max-width: calc(100vw - 80px);
    padding: 13px 20px;
    color: #222;
    line-height: 22px;
    word-wrap: break-word;
    background: #e9e1ff;
    background-color: #e9e1ff;
    border-radius: 12px;
  }
}
